:root {
    --black: rgb(54, 54, 54);
    --white: rgb(228, 228, 228);
    --blue: rgb(92, 143, 211);
}

html,
body {
    height: 100%;
}

* {
    font-family: "Times New Roman", Times, serif;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    position: relative;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.leftside {
    flex: 1;
    padding: 12px;
    display: block;
    background-color: var(--black);
    line-height: 1.7;
}

.rightside {
    flex: 2.5;
    padding: 12px;
    display: block;
    background-color: var(--white);
}

img {
    border-radius: 50%;
}

.highlightinfo {
    position: absolute;
    background-color: var(--blue);
    top: 30px;
    left: 30px;
    right: calc(100% - 34%);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
    clip-path: polygon(100% 0, 100% 54%, 100% 99%, 0 84%, 0 0);
    color: white;
}

.someinformations {
    margin-top: 575px;
}

.moreinformations {
    padding-left: 100px;
}

h1 {
    font-family: "Bree Serif", Times, serif;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 0;
}

.occupation {
    font-size: 22px;
}

.address {
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 5px;
}

.address~p {
    margin-top: 2px;
}

.highlight {
    border-top: 3px solid steelblue;
}

.leftside .highlight {
    line-height: 35px;
}

.highlight>h2 {
    color: var(--blue);
    text-transform: uppercase;
    margin-top: -15px;
    margin-left: 10px;
    width: fit-content;
    background: var(--black);
    line-height: 1;
    margin-left: -5px;
}

.highlight {
    padding-left: 15px;
    padding-right: 15px;
}

.hobbies {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rightside h2 {
    background: var(--white);
}

.leftside .highlight p,
.leftside .highlight span {
    color: white;
}

a:link {
    color: white;
}


/* visited link */

a:visited {
    color: white;
}


/* mouse over link */

a:hover {
    color: red;
}


/* selected link */

a:active {
    color: white;
}

.progressBarContainer {
    width: 50%;
    margin-top: 13px;
    height: 0.66em;
    background: #e6eae3;
    float: right;
    border-radius: 25px;
    /* overflow: hidden; */
}

.progressBarValue {
    height: 0.66em;
    float: left;
    background: #0866dc;
    border-radius: 25px;
}

.value-00 {
    width: 0;
}

.value-10 {
    width: 10%;
}

.value-20 {
    width: 20%;
}

.value-30 {
    width: 30%;
}

.value-40 {
    width: 40%;
}

.value-50 {
    width: 50%;
}

.value-60 {
    width: 60%;
}

.value-70 {
    width: 70%;
}

.value-80 {
    width: 80%;
}

.value-90 {
    width: 90%;
}

.value-100 {
    width: 100%;
}

ul {
    line-height: 25px;
}

.someinformations div:last-child i {
    font-size: 40px;
    margin: 0 10px 20px 10px;
}

.moreinformations .highlight h2 {
    margin-left: -35px;
    font-size: 25px;
}

.moreinformations .highlight {
    margin-top: 50px;
    margin-right: 15px;
}

.timeline {
    border-left: 5px solid var(--blue);
    padding-left: 30px
}

.timeinterval {
    float: right;
}

.description {
    margin-bottom: 50px;
}

.description h3 {
    display: inline;
    font-size: 22px;
}

.description h4 {
    font-size: 15px;
    margin-top: 10px;
}

.dotOnLine {
    height: 25px;
    width: 25px;
    background-color: var(--blue);
    border-radius: 50%;
    margin-left: -45px;
    float: left;
    margin-top: 20px;
}

.mainprojectdiv {
    display: block;
}

.projectdiv {
    margin: 15px;
    margin-bottom: 30px;
}

.projectdiv p {
    margin-top: -10px;
}

h4 span {
    display: block;
    font-size: smaller;
    font-weight: 600;
}

@media (max-width: 1000px) {
    .highlight {
        margin-left: 10px;
    }
    .highlightinfo {
        position: static;
        clip-path: none;
        flex: 1;
        border-radius: 25px;
    }
    .someinformations {
        margin-top: 30px;
        flex: 1.7
    }
    .highlight span,
    .highlight a {
        font-size: 14px;
    }
    .progressBarContainer {
        width: 50%;
    }
    .container {
        display: block;
    }
    .leftside {
        display: flex;
        flex: 1;
    }
    .moreinformations {
        padding-left: 12px;
    }
}

@media (max-width: 780px) {
    .highlight>h2 {
        font-size: 20px;
        margin-top: -12px;
    }
    .moreinformations .highlight h2 {
        font-size: 15px;
        margin-top: -10px;
    }
    .description h3 {
        font-size: 17px;
    }
    .description h4 {
        font-size: 12px;
    }
    .description h4 span {
        font-size: 10px;
    }
}

@media (max-width: 650px) {
    .highlightinfo {
        padding-bottom: 25px;
        text-shadow: 3px 3px 5px black;
    }
    .leftside {
        display: block;
    }
    img {
        display: none;
    }
    .highlightinfo {
        background-image: url(../pictures/portre.jpeg);
        /* The image used */
        min-height: 300px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 530px) {
    .description h3 {
        display: block;
        margin-bottom: 0;
    }
    .timeinterval {
        font-size: 12px;
        float: initial;
    }
}

@media (max-width: 470px) {
    .timeline {
        border-left: none;
        padding-left: 0;
    }
    .dotOnLine {
        height: 12px;
        width: 12px;
        margin-left: -20px;
        margin-top: 5px;
    }
    li,
    p {
        font-size: small;
    }
    h1 {
        font-size: 25px;
        margin-top: 184px;
    }
    .occupation {
        font-size: 17px;
    }
    .address {
        font-size: 15px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: -5px;
    }
}